name: CI - Task 1, Task 2 & Main

on:
  push:
    branches:
      - main
      - task-1
      - task-2
  pull_request:
    branches:
      - main
      - task-1
      - task-2

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run syntax checks
        run: python -m compileall src
